---

---

<header
   class='grid pt-4 px-2 place-items-center'
   transition:persist>
   <nav class='grid w-full  grid-cols-[auto_1fr] border border-dark dark:border-light p-2 rounded-md max-w-screen-xl gap-4'>
      <a
         href='/'
         class='p-2 justify-self-start'
         title="front page & contact information">
         <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 512 512'
            width='40'
            height='40'
            fill='currentColor'
            stroke-width='0'>
            <path
               d='M464,0v.13l-.14-.13-207.93,221.65L48,0H0v512h48v-220l416,220h48V0h-48ZM48,244V70.16l163.08,173.84H48ZM464,457.7l-313.33-165.7h313.33v165.7ZM300.78,244l163.22-173.99v173.99h-163.22Z'>
            </path>
         </svg>
      </a>
      <ul class='grid grid-cols-2 text-2xl font-inter place-items-center font-semibold list-none gap-4'>
         <li class="w-full grid">
            <a
            title="experience"
               href='/experience'
               class='p-2 w-full grid place-items-center rounded dark:bg-dark dark:hover:bg-dark-hover transition-all'>
               Experience
            </a>
         </li>
         <li class="w-full grid">
            <a
            title="Projects"
               href='/projects'
               class='p-2 w-full grid place-items-center rounded dark:bg-dark dark:hover:bg-dark-hover transition-all'>
               Projects
            </a>
         </li>
      </ul>
   </nav>
</header>
